.lead {
  width: 60%;
  margin: 0 auto;
  font-family: var(--ff-head);
}
.review-slider {  
    .owl-dots {
        display: flex;      
        width: 100%;
        justify-content: flex-end;
        gap: 1rem;
    
        @media screen and (max-width: 900px) {
          justify-content: center;
          text-align: center;
        }     
        .owl-dot {       
          position: relative; 
          span{
            width: 50px;
          }
      } 
        .owl-dot.active{
           span{
            background: linear-gradient(90deg, #eccf4b 0%, #d43390 100%);
            display: block !important;
           }
        }
      }
  .review-card {
    padding-inline: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 25px;
    background-color: var(--clr-dark2);
    opacity: 50%;
    transition: var(--transition);
    transform: scale(0.8);
  }
  .owl-item.active.center {
    .review-card {
      transform: scale(1) !important;
      opacity: 1;
    }
  }
}
