---
import Section from '../Section.astro';
---

<Section>
  <div class="service">
    <div class="container">
      <div class="containers">
        <div class="row justify-content-between gy-5 m-0">
          <div class="col-lg-4">
            <div class="section-title text-start pb-4">
              <h5 style={{ color: '#3272f6' }}>What We Offer</h5>
              <p class="pb-3 w-100 text-start">
                Partners for designing your dream brand and digital expression
              </p>
            </div>
            <div class="">
              <div>
                <a href="/contact" class="btn-2">Get in touch</a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 p-0">
            <div class="service-slider">
              <div class="slide">
                <div class="wrapper">
                  <h2 style={{ color: '#3272f6' }}>Ad Shoot</h2>
                  <img
                    loading="lazy"
                    src="/images/home-adshoot.webp"
                    alt="adshoot"
                  />

                  <div class="getquote">
                    <!-- <a href="/contact" class="btn-2">
                      Get quote
                    </a> -->
                    <a href="/services" class="">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-right-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>

              <div class="slide">
                <div class="wrapper">
                  <h2 style={{ color: '#3272f6' }}>Performance Marketing</h2>
                  <img
                    loading="lazy"
                    src="/images/home-performence.webp"
                    alt="branding"
                  />

                  <div class="getquote">
                    <!-- <a href="/contact" class="btn-2">
                      Get quote
                    </a> -->
                    <a href="/services" class="">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-right-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>

              <div class="slide">
                <div class="wrapper">
                  <h2 style={{ color: '#3272f6' }}>Branding</h2>
                  <img
                    loading="lazy"
                    src="/images/home-branding.webp"
                    alt="branding"
                  />

                  <div class="getquote">
                    <!-- <a href="/contact" class="btn-2">
                        Get quote
                      </a> -->
                    <a href="/services" class="">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-right-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>

              <div class="slide">
                <div class="wrapper">
                  <h2 style={{ color: '#3272f6' }}>Web Development</h2>
                  <img
                    loading="lazy"
                    src="/images/home-web.webp"
                    width="90%"
                    alt="web development"
                  />

                  <div class="getquote">
                    <!-- <a href="/contact" class="btn-2">
                      Get quote
                    </a> -->
                    <a href="/services" class="">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-right-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>

              <div class="slide">
                <div class="wrapper">
                  <h2 class="event-manage">Search Engine Optimization</h2>
                  <img loading="lazy" src="/images/home-seo.webp" alt="seo" />

                  <div class="getquote">
                    <!-- <a href="/contact" class="btn-2">
                      Get quote
                    </a> -->
                    <a href="/services" class="">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-right-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>

              <div class="slide">
                <div class="wrapper">
                  <h2 class="event-manage">Corporate Event Management</h2>
                  <img
                    loading="lazy"
                    src="/images/home-event.webp"
                    alt="event management"
                  />

                  <div class="getquote">
                    <!-- <a href="/contact" class="btn-2">
                    Get quote
                  </a> -->
                    <a href="/services" class="">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-right-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="service-controls">
              <div class="control-btn prev">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-left"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
                  ></path>
                </svg>
              </div>
              <div class="control-btn next">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Section>
<style lang="scss">
  .slide1 {
    background-color: #f5f6f8;
  }
  .blue {
    color: #3272f6;
  }
  .service {
    display: flex;
    height: 600px;
    position: relative;
    overflow: hidden;
    .containers {
      width: 100% !important;

      margin-top: 7vw;
      position: absolute;
    }
    .row {
      > :nth-child(2) {
        overflow: hidden;
      }
    }
  }
  .wrapper {
    width: 98%;
    margin: 0 auto;
    background-color: #e1ebff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    -webkit-backdrop-filter: blur(70px) !important;
    transition: all 0.5s ease !important;
    border: 2px solid transparent;
    overflow-y: auto;
    height: 100%;

    .getquote {
      display: flex;
      align-items: center;
      justify-content: space-between;
      svg {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: end;
      }
    }

    p {
      color: black;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
    }

    h2 {
      color: rgb(238, 11, 49);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      transition: all 0.5s ease !important;
      line-height: 150%; /* 27px */
    }
    &:hover {
      border-radius: 10px;
      border: 2px solid rgb(6, 37, 123) !important;
      backdrop-filter: blur(87.5px);
      border: 1px solid rgba(229, 84, 169, 0.25);
      border: none;
      color: white;

      .sub-head {
        color: #c44b97;
      }
    }
    .event-manage {
      color: #3272f6;
      font-size: 17px;
    }
  }

  .service-controls {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    overflow: hidden;
    gap: 2rem;
    .control-btn {
      cursor: pointer;
      svg {
        fill: #3272f6;
        width: 30px;
        height: 30px;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .wrapper {
      height: 180px;
      padding: 1.5rem;
    }
  }

  @media screen and (max-width: 768px) {
    .wrapper {
      height: 160px;
      padding: 0.5rem;
      h2 {
        font-size: 14px;
      }
      p {
        font-size: 12px;
      }
    }

    .service-controls {
      gap: 1rem;
      .control-btn svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  @media screen and (max-width: 480px) {
    .service {
      padding: 0;
    }

    .wrapper {
      height: 50vw;
      padding: 0.5rem;
      h2 {
        font-size: 10px;
      }
      p {
        font-size: 10px;
      }
      .event-manage {
        font-size: 8px;
      }
    }
    .container {
      padding: 0;
    }
    .service-controls {
      gap: 0.5rem;
      padding-top: 0;
      .control-btn svg {
        width: 16px;
        height: 16px;
      }
    }
  }
</style>
