---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Header from "../components/header.astro";
import Footer3 from "../components/footer3.astro";

---
<Layout title="" link="">
    <Header/>
    <div class="blur-wrapper">
        <Section>
            
        </Section>

    </div>

</Layout>