---
import Footer from '../components/footer3.astro';
import Header from '../components/header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Our Services | BrandSwift - Comprehensive Digital Marketing Solutions"
  description="Explore BrandSwift's range of digital marketing services, including Branding, Graphic Design, Web Development, SEO, Social Media Marketing, PPC, and Corporate Event Management. Drive your business growth with us"
  keywords="Digital Marketing Services Bangalore, Branding Agency Bangalore, Web Development Services, SEO Solutions Bangalore, PPC Advertising Bangalore, Social Media Marketing Agency Bangalore, Corporate Event Management Bangalore"
  robots="index, follow"
  canonical="https://brandswift.in/services/"
  og_title="Our Services | BrandSwift - Comprehensive Digital Marketing Solutions"
  og_description="From branding to PPC, BrandSwift provides end-to-end digital marketing services tailored to your needs. Explore our offerings to transform your business today"
  og_image=""
  twitter_card="summary_large_image"
  twitter_title="Our Services | BrandSwift - Comprehensive Digital Marketing Solutions"
  twitter_description="Partner with BrandSwift for expert branding, SEO, web development, and more. Achieve your business goals with customized solutions"
  twitter_image=""
>
  <Header />
  <div class="blur-wrapper">
    <div class="banner-new">
      <div class="container">
        <div class="pt-5">
          <div class="title">Service</div>
          <div class="route">
            <h5>Home</h5>
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-dot"
                viewBox="0 0 16 16"
              >
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"></path>
              </svg></span
            >
            <h5>service</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="all-service">
          <div class="service-list">
            <h2>Branding</h2>

            <p>
              Brand Strategy Development | Logo and Identity Design | Visual
              Branding | Brand Communication | Brand Experience | Brand
              Monitoring and Management
            </p>

            <div>
              <a href="/branding" class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-right-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>

          <div class="service-list">
            <h2>Graphic Design</h2>

            <p>
              Brand Strategy Development | Logo and Identity Design | Visual
              Branding | Brand Communication | Brand Experience | Brand
              Monitoring and Management
            </p>

            <div>
              <a href="#" class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-right-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>

          <div class="service-list">
            <h2>Web Development</h2>

            <p>
              Website Development | E-commerce Solutions | Web Application
              Development | Content Management System (CMS) | Website
              Maintenance | API Integration
            </p>

            <div>
              <a href="#" class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-right-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>

          <div class="service-list">
            <h2>Search Engine Optimization</h2>

            <p>
              Keyword Research and Analysis | On-Page Optimization | Off-Page
              Optimization | Technical SEO | Local SEO | SEO Audits and
              Reporting
            </p>

            <div>
              <a href="#" class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-right-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>

          <div class="service-list">
            <h2 class="">Performance Marketing</h2>

            <p>
              Campaign Strategy Development | Ad Creation and Optimization |
              Landing Page Optimization | CRO | Performance Analytics | Budget
              Management
            </p>

            <div>
              <a href="#" class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-right-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>

          <div class="service-list">
            <h2>Social Media Marketing</h2>

            <p>
              Website Development | E-commerce Solutions | Web Application
              Development | Content Management System (CMS) | Website
              Maintenance | API Integration
            </p>

            <div>
              <a href="#" class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-right-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>

          <div class="service-list">
            <h2>Pay-Per-Click Marketing</h2>

            <p>
              Website Development | E-commerce Solutions | Web Application
              Development | Content Management System (CMS) | Website
              Maintenance | API Integration
            </p>

            <div>
              <a href="#" class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-right-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>

          <div class="service-list">
            <h2 class="">Ad Shoot</h2>

            <p>
              Concept Development | Pre-Production Planning | Production
              Management | Post-Production | Distribution Strategy | Performance
              Analytics | Budget Management
            </p>

            <div>
              <a href="#" class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-right-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>

          <div class="service-list">
            <h2>Corporate Event Management</h2>

            <p>
              Event Planning and Coordination | Marketing and Promotion |
              Registration and Attendee Management | Logistics Management |
              On-Site Event Management | Post-Event Activities
            </p>

            <div>
              <a href="#" class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-right-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <Footer />
  </div>
</Layout>
<style>
  .service-list {
  }
  .service-list:hover {
    border: 1px solid #3272f6;
  }
</style>
