---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Section from '../components/Section.astro';
import Footer from '../components/footer3.astro';
---

<Layout
  title=""
  description=""
  keywords=""
  robots=""
  canonical=""
  og_title=""
  og_description=""
  og_image=""
  twitter_card=""
  twitter_title=""
  twitter_description=""
  twitter_image=""
>
  <Header />
  <div class="blur-wrapper">
    <Section>
      <div>
        <p class="team-title">MEET OUR <span>EXPERTS</span></p>
      </div>
      <div class="team-bgimg">
        <div class="team-top">
          <div class="team-members">
            <div class="md-container">
              <div class="md">
                <h5>MANAGING DIRECTOR</h5>
                <p>MANOJKUMAR</p>
                <div>
                  <p>
                    He is a seasoned digital marketing expert, dedicated to
                    driving innovative strategies and delivering exceptional
                    results for all clients.
                  </p>
                </div>
              </div>
              <div class="md">
                <h5>SEO SPECIALIST</h5>
                <p>RISHAL</p>
                <div>
                  <p>
                    He combines creative vision with strategic insight to craft
                    visually compelling campaigns that drive engagement and
                    deliver impactful results.
                  </p>
                </div>
              </div>
              <div class="md">
                <h5>WEB DEVELOPER</h5>
                <p>ARUNKUMAR M</p>
                <div>
                  <p>
                    With four years of experience in web development, He
                    specialize in creating dynamic, user-friendly websites
                    tailored to meet diverse client needs.
                  </p>
                </div>
              </div>
              <div class="md">
                <h5>GRAPHIC DESIGNER</h5>
                <p>GOPI SANKAR A K</p>
                <div>
                  <p>
                    With two years of experience as a graphic designer, He
                    specialize in creating visually compelling and user-friendly
                    designs for websites.
                  </p>
                </div>
              </div>
            </div>
            <!-- <div class="service-controls">
                            <div class="control-btn prev" id="left-arrow" >
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                              </svg>
                            </div>
                            <div class="control-btn next" id="right-arrow" >
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 1 1 .708-.708l4 4a.5.5 0 1 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                              </svg>
                            </div>
                          </div>  -->
          </div>
        </div>
      </div>
    </Section>
    <Section>
      <div>
        <div>
          <div class="staff-container">
            <div class="staff-member">
              <div class="staff-details">
                <p class="name">MANAGING DIRECTOR</p>
                <p class="position">MANOJKUMAR</p>
                <p class="exp">
                  He is a seasoned digital marketing expert, dedicated to
                  driving innovative strategies and delivering exceptional
                  results for all clients.
                </p>
              </div>
            </div>
            <div class="staff-member">
              <div class="staff-details">
                <p class="name">ART DIRECTOR</p>
                <p class="position">RAM</p>
                <p class="exp">
                  He combines creative vision with strategic insight to craft
                  visually compelling campaigns that drive engagement and
                  deliver impactful results.
                </p>
              </div>
            </div>
            <div class="staff-member">
              <div class="staff-details">
                <p class="name">WEB DEVELOPER</p>
                <p class="position">ARUNKUMAR M</p>
                <p class="exp">
                  With four years of experience in web development, He
                  specialize in creating dynamic, user-friendly websites
                  tailored to meet diverse client needs.
                </p>
              </div>
            </div>
            <div class="staff-member">
              <div class="staff-details">
                <p class="name">GRAPHIC DESIGNER</p>
                <p class="position">RIYAZ SHERIF M</p>
                <p class="exp">
                  With two years of experience as a graphic designer, He
                  specialize in creating visually compelling and user-friendly
                  designs for websites.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Section>
    <Footer />
  </div>
</Layout>

<script>const leftArrow=document.getElementById("left-arrow"),rightArrow=document.getElementById("right-arrow"),cards=document.querySelector(".md-container");leftArrow.addEventListener("click",(()=>{const e=cards.firstElementChild;cards.appendChild(e)})),rightArrow.addEventListener("click",(()=>{const e=cards.lastElementChild;cards.insertBefore(e,cards.firstElementChild)}));</script>

<style>
  .service-controls {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    gap: 2rem;
    z-index: 10;
  }

  .control-btn {
    cursor: pointer;
  }

  .control-btn svg {
    fill: #3272f6;
    width: 30px;
    height: 30px;
  }

  .team-title {
    font-size: 4vw;
    text-align: center;
    padding-top: 10vw;
  }

  .team-title span {
    background: linear-gradient(90deg, #09182d 0%, #3272f6 50%, #09182d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .team-bgimg {
    background-image: url('/images/team-bg-img.webp');
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: center;
    margin-top: 5vw;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .team-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .team-members {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
  }

  .md-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;
  }

  .md {
    width: 35vh;
    height: 50vh auto;
    padding: 10px;
    border-radius: 20px;
    background-color: #fbfcfd;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .staff-container {
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .staff-member {
    width: 20vw;
    height: 40vh;
    background-color: rgb(242, 242, 247);
    border-radius: 30px;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10vh;
  }
  .staff-member .name {
    font-size: 1.15rem;
    font-weight: 600;
  }
  .staff-member .position {
    font-size: 1.15rem;
    font-weight: 500;
  }
  .staff-member .exp {
    padding-left: 5px;
    font-size: 1.1rem;
  }
  @media screen and (max-width: 768px) {
    .team-bgimg {
      background-attachment: scroll; /* Allows the image to scroll with content on smaller devices */
      height: auto;
      padding-bottom: 50%; /* Adjust the padding-bottom to ensure aspect ratio is maintained */
    }
    .team-title {
      margin-top: 7vw;
    }
    .team-members {
      left: 0;
      width: 100%;
      justify-content: center;
    }

    .md-container {
      flex-direction: column;
      align-items: center;
      gap: 50vw;
      padding-bottom: 3vw;
    }
    .md {
      width: 80%;
      height: auto;
      margin-bottom: 2em;
    }
    .staff-container {
      flex-direction: column;
      align-items: center;
    }

    .staff-member {
      width: 40vw;
      height: 60vw;
      font-size: 3vw;
      padding: 12px;
      line-height: 2rem;
      text-align: center;
    }
  }

  @media screen and (max-width: 480px) {
    .team-bgimg {
      background-size: cover; /* Ensures the image covers the entire background */
      background-position: top; /* Adjust the image position for smaller screens */
      height: auto;
      padding-bottom: 100%; /* Increase the padding-bottom for a better aspect ratio on very small screens */
    }

    .team-members {
      display: none;
      /* left: 0;
        width: 100%;
        justify-content: center; */
    }

    .md-container {
      flex-direction: column;
      align-items: center;
      gap: 50vw;
      padding-bottom: 10vw;
    }

    .md {
      width: 60%;
      height: auto;
      margin-bottom: 2em;
      font-size: 3.5vw;
    }
    .team-title {
      margin-top: 15vw;
    }
    .staff-container {
      display: flex;
    }
  }

  @media screen and (max-width: 480px) {
    .staff-container {
      flex-direction: column;
      align-items: center;
    }

    .staff-member {
      width: 70vw;
      height: 75vw;
      font-size: 4vw;
      padding-left: 0px;
      line-height: 2rem;
      text-align: center;
    }
  }
</style>
