---
import Layout from '../layouts/Layout.astro';
import '@fortawesome/fontawesome-free/css/all.min.css';
---

<Layout title="Best Digital Marketing Agency in Bangalore" link="">
  <div class="page-bottom">
    <div class="headertop">
      <section class="contact-info">
        <div class="contact-item">
          <i class="fas fa-envelope"></i>
          <a href="mailto:hello@brandswift.com">hello@brandswift.com</a>
        </div>
        <div class="contact-item">
          <i class="fas fa-phone"></i>
          <a href="tel:+918553333145">+91 8553333145</a>
        </div>
        <div class="contact-item">
          <span><i class="fas fa-map-marker-alt"></i></span>
          <span>Banashankari, Bengaluru</span>
        </div>
        <div class="social-icons">
          <a href="https://wa.me/+919611007771" target="_blank"
            ><i class="fab fa-whatsapp"></i></a
          >
          <a href="https://www.instagram.com/brandswift.in/" target="_blank"
            ><i class="fab fa-instagram"></i></a
          >
          <a href="https://www.facebook.com/yourpage" target="_blank"
            ><i class="fab fa-facebook-f"></i></a
          >
          <a
            href="https://www.linkedin.com/company/91380961/admin/dashboard/"
            target="_blank"><i class="fab fa-linkedin-in"></i></a
          >
        </div>
      </section>
    </div>
    <header class="d-flex justify-content-between header-container" id="header">
      <div class="logo">
        <a href="/">
          <img src="/images/bs-logo-new.png" alt="logo" />
        </a>
      </div>

      <div class="menu-list-container">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <span class="hover-service">
          <a href="/services">Service</a>
          <div class="service-container">
            <div class="service-list">
              <h5><span>&#x2022;</span> Branding</h5>
              <a href="/branding/#demo">Personal Branding</a>
              <a href="">Company Branding</a>
              <a href="">Product & Service Branding</a>
            </div>
            <div class="service-list">
              <h5><span>&#x2022;</span> Graphic Design</h5>
              <a href="">Posters & Reels</a>
              <a href="">Logo Creation</a>
              <a href="">Video Editing</a>
            </div>
            <div class="service-list">
              <h5><span>&#x2022;</span> Web Development</h5>
              <a href="">New Website Development</a>
              <a href="">Website Updation</a>
              <a href="">Website Hosting</a>
            </div>
            <div class="service-list">
              <h5><span>&#x2022;</span> Search Engine Optimization</h5>
              <a href="">Local SEO</a>
              <a href="">Technical SEO</a>
              <a href="">SEO Audits</a>
            </div>
            <div class="service-list">
              <h5><span>&#x2022;</span> Performance Marketing</h5>
              <a href="">Campaign Setup</a>
              <a href="">Ad Creation</a>
              <a href="">Platform Management</a>
            </div>
            <div class="service-list">
              <h5><span>&#x2022;</span> Social Media Marketing</h5>
              <a href="">Social Media Management</a>
              <a href="">Facebook & Instagram</a>
              <a href="">Linkedin</a>
            </div>
            <div class="service-list">
              <h5><span>&#x2022;</span> Pay-Per-Click Marketing</h5>
              <a href="">Search Engine Marketing</a>
              <a href="">Google Ads Management</a>
              <a href="">Youtbe Ads Management</a>
            </div>
            <div class="service-list">
              <h5><span>&#x2022;</span> Ad Shoot</h5>
              <a href="">Concept Development</a>
              <a href="">Production</a>
              <a href="">Ads Management</a>
            </div>
            <div class="service-list">
              <h5><span>&#x2022;</span>Corporate Event Management</h5>
              <a href="">Event Planing</a>
              <a href="">On site management</a>
              <a href="">Promotion</a>
            </div>
          </div>
        </span>
        <a href="/career">Career</a>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact Us</a>
      </div>

      <div class="mobile-menu">
        <div class="menu-icon" onclick="toggleMenu()">
          <div class="menu-bar"></div>
          <div class="menu-bar"></div>
          <div class="menu-bar"></div>
        </div>

        <div class="additional-content" id="additionalContent">
          <div class="container">
            <div class="menu-overlay">
              <div class="menu-wrapper" id="menus">
                <a href="/" class="menu-item">Home</a>
                <a href="/about" class="menu-item">About</a>
                <a href="/services" class="menu-item">Services</a>
                <a href="/career" class="menu-item">Careers</a>
                <a href="/contact/" class="menu-item">Contact Us</a>
                <!-- <div class="social-icons">
                        <a href="https://wa.me/+919611007771" target="_blank"><i class="fab fa-whatsapp"></i></a>
                        <a href="https://www.instagram.com/brandswift.in/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/yourpage" target="_blank"><i class="fab fa-facebook-f"></i></a>   
                        <a href="https://www.linkedin.com/company/91380961/admin/dashboard/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                      </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</Layout>

<script is:inline>
  let lastScrollTop = 0;

  window.addEventListener('scroll', function () {
    const header = document.getElementById('header');
    let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

    // if (scrollTop > lastScrollTop) {
    //   header.classList.add("hide");
    // } else {
    //   header.classList.remove("hide");
    // }

    lastScrollTop = scrollTop;
  });

  function toggleMenu() {
    var menuIcon = document.querySelector('.menu-icon');
    var additionalContent = document.getElementById('additionalContent');
    var head = document.getElementById('header');

    menuIcon.classList.toggle('open');
    additionalContent.classList.toggle('visible');
    head.classList.toggle('white');
  }
</script>

<style lang="scss">
  .page-bottom {
    padding-bottom: 5vw;
  }
  .headertop {
    padding-left: 10vw;
    z-index: 999;
    position: fixed !important;
    top: 0px;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000c52;
    color: white;
  }
  @media screen and (max-width: 768px) {
    .headertop {
      font-size: 15px;
      .social-icons {
        display: none;
      }
      .contact-item span {
        display: none;
      }
      .social-icons-mobile {
        display: flex;
        justify-content: center;
      }
      .social-icons {
        padding-left: 0;
      }
    }
  }
  @media screen and (max-width: 480px) {
    .headertop {
      font-size: 10px;
      .social-icons {
        display: none;
      }
      .contact-item span {
        display: none;
      }
      .social-icons-mobile {
        display: flex;
        justify-content: center;
      }
    }
    .social-icons {
      padding-left: 0;
    }
  }

  .contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5vw;
    padding-right: 0 !important;
  }

  .contact-item {
    display: flex;
    align-items: center;
    gap: 1vw;
  }

  .contact-item i {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
  }
  .contact-item a {
    color: white;
    text-decoration: none;
  }

  .social-icons {
    display: flex;
    padding-left: 10vw;
    gap: 3vw;
  }

  .social-icons a {
    color: white;
    font-size: 1.25em;
    transition: color 0.3s;
  }

  .social-icons a:hover {
    color: #007bff;
  }

  .header-container {
    background-color: #ffffff;
  }

  header {
    padding: 1.5rem 2rem;
    z-index: 999;
    position: fixed !important;
    top: 50px;
    left: 0;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: top 0.3s ease;

    &.hide {
      top: -130px;
    }

    .logo {
      img {
        width: 13vw;
        padding-left: 0;
      }
    }
    .menu-list-container {
      display: flex;
      gap: 2vw;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      margin-right: 20vw;
    }
    .menu-list-container a {
      text-decoration: none;
      color: black;
      font-weight: 550;
      padding: 10px 20px 10px 20px;
    }
    .menu-list-container a:hover {
      background-color: #000c52;
      color: white;
      border-radius: 15px;
    }
    .service-container {
      display: none;
      flex-wrap: wrap;
      flex-direction: row;
      margin-left: -10vw;
      position: absolute;
      width: 50%;
      gap: 3vw;
      background-color: #fff;
      border: 1px solid #ddd;
      padding: 10px;
      z-index: 1000;
      opacity: 0;
      transition:
        opacity 0.5s ease-in,
        display 0s 0.5s;
    }
    .service-list {
      display: flex;
      flex-direction: column;
    }
    .service-list a {
      font-size: 14px;
      line-height: 16px;
    }
    .service-list h5 {
      font-size: 15px;
      font-weight: 700;
    }
    .service-list span {
      font-size: 20px;
    }
    // .hover-service:hover .service-container {
    //     display: flex;
    //   opacity: 1;
    //   transition: opacity 0.5s ease-in;
    // }
    .hover-service .service-container {
      display: flex;
      opacity: 0;
      pointer-events: none; /* Prevent hover interaction when hidden */
      transition:
        opacity 0.5s ease-in,
        display 0s 0.5s; /* Adding delay to display */
    }
    @media screen and (max-width: 768px) {
    }

    .mobile-menu {
      display: none;
    }

    .menu-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      margin-right: 0;
    }

    .menu-bar {
      width: 40px;
      height: 3px;
      background-color: #09182d;
      margin: 3.3px 0;
      transition: 0.4s;
    }

    .menu-icon.open .menu-bar:nth-child(1) {
      transform: rotate(-45deg) translate(-7px, 8px);
      background-color: rgb(38, 0, 255);
    }

    .menu-icon.open .menu-bar:nth-child(2) {
      opacity: 0;
    }

    .menu-icon.open .menu-bar:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }

    .additional-content {
      display: none;
      position: fixed;
      width: 100%;
      transition: var(--transition);
      top: var(--header-height);
      left: 0;
      height: 100vh;
      transform: all 0.5s ease;

      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px !important;
      }
    }

    .additional-content.visible {
      display: block !important;
      background-color: white;
      position: fixed;
      overflow-y: auto;
      margin-top: 35px;
    }

    .menu-overlay {
      padding-top: 5vh;
      height: 600px;
      color: black;
      z-index: 9999;
      display: flex;

      .menu-item {
        font-size: 3vw; // Use viewport width for responsiveness
        text-transform: uppercase;
        font-weight: 300;
        transition: all 0.8s ease-in-out;

        &:hover {
          background: -webkit-linear-gradient(#09182d, #3272f6);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 0.3s ease-in-out;
          padding-left: 10px;
        }
      }

      .menu-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      isolation: isolate;

      &:before {
        background: -webkit-linear-gradient(#09182d, #3272f6);
        content: '';
        width: 599px;
        height: 600px;
        position: absolute;
        bottom: -120px;
        right: -160px;
        border-radius: 50%;
        filter: blur(80px);
        z-index: 9;

        @keyframes move {
          0% {
            transform: scale(1) translate(10px, -30px);
          }
          38% {
            transform: scale(0.8, 1) translate(5vw, 30vh) rotate(160deg);
          }
          100% {
            transform: scale(1) translate(10px, -90px);
          }
        }

        @media screen and (max-width: 900px) {
          width: 300px;
          height: 300px;
        }
      }
    }

    .white {
      background-color: #ffffff;
    }

    @media screen and (max-width: 1200px) {
      header {
        padding: 1rem 3rem;
      }

      .logo img {
        width: 12vw;
      }

      .menu-item {
        font-size: 2.5vw;
      }
    }

    @media screen and (max-width: 992px) {
      header {
        padding: 1rem 2rem;
        height: auto;

        .logo img {
          width: 150px;
        }
      }

      .menu-item {
        font-size: 2vw;
      }
    }

    @media screen and (max-width: 768px) {
      .logo img {
        width: 20vw;
      }
      .menu-item {
        font-size: 2vw;
      }

      .menu-bar {
        width: 35px;
        height: 2.1px;
      }
      .menu-list-container {
        display: none;
      }
      .mobile-menu {
        display: flex;
        font-size: 3vw;
      }
      .mobile-menu a {
        text-decoration: none;
        color: black;
      }
    }

    @media screen and (max-width: 480px) {
      .logo img {
        width: 28vw;
      }

      .menu-item {
        font-size: 4vw !important;
        font-weight: 400 !important;
        text-decoration: none;
        color: black;
      }
      .menu-bar {
        width: 30px;
        height: 2px;
      }
      .menu-list-container {
        display: none;
      }
      .mobile-menu {
        display: flex;
      }
    }

    @media screen and (max-width: 390px) {
      .logo img {
        width: 25vw;
      }
      .menu-item {
        font-size: 1.2vw;
      }
      .menu-overlay {
        padding-top: 0;
      }
      .menu-bar {
        width: 25px;
        height: 1.5px;
      }
    }
  }
</style>
