---

---

<header class="d-flex justify-content-between header-container" id="header">
  
    
  
  <div class="logo">
    <a href="/">
        <img src="/images/bs-logo-new.png" alt="logo" />
    </a>
</div>
<!-- <div class="menu-list">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About US</a></li>
        <li>
            <a href="/services">Services</a>
            <ul class="submenu">
                <li><a href="#">Ad Shoot 1</a></li>
                <li><a href="#">Ad Shoot 2</a></li>
                <li><a href="#">Ad Shoot 3</a></li>
                <li><a href="#">Ad Shoot 4</a></li>
                <li><a href="#">Ad Shoot 5</a></li>
                <li><a href="#">Ad Shoot 6</a></li>
            </ul>
        </li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</div> -->

      <div>
      <div class="menu-icon" onclick="toggleMenu()">
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
      </div>

      <div class="additional-content" id="additionalContent">
        

        <div class="container">
          <div class="menu-overlay">
            <div class="menu-wrapper" id="menus">
              <a href="/" class="menu-item">Home</a>
              <a href="/about" class="menu-item">About</a>
              <a href="/services" class="menu-item">Services</a>
              <a href="/career" class="menu-item">Careers</a>
              <!-- <a href="/portfolio/" class="menu-item">Portfolio</a> -->
              <a href="/contact/" class="menu-item">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
   
    </div>
  
</header>

<script is:inline>
  let lastScrollTop = 0;

  window.addEventListener("scroll", function () {
    const header = document.getElementById("header");
    let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

    // if (scrollTop > lastScrollTop) {
    //   header.classList.add("hide");
    // } else {
    //   header.classList.remove("hide");
    // }

    lastScrollTop = scrollTop;
    
  });

  function toggleMenu() {
    var menuIcon = document.querySelector(".menu-icon");
    var additionalContent = document.getElementById("additionalContent");
    var head = document.getElementById("header");

    menuIcon.classList.toggle("open");
    additionalContent.classList.toggle("visible");
    head.classList.toggle("white");
       
  }
</script>

<style lang="scss">
  .header-container {    
    background-color: #ffffff;
   }

  header {
    padding: 1.5rem 2rem;
    z-index: 999;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    transition: top 0.3s ease;

    &.hide {
      top: -130px;
    }

    .logo {   
     
      img {
        width: 13vw;
        padding-left: 0;
      }
    }
    .menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #09182d;   
    height: 100%; /* Adjusted height to 100% */
    border-radius: 25px;
    margin-right: 20vw;
}

/* Remove default list styling */
.menu-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for individual list items */
.menu-list ul > li {
    position: relative;
    margin-right: 15px;
}

/* Styling for anchor tags */
.menu-list a {
    text-decoration: none;
    color: white;
    font-size: 2.25vh;
    font-weight: 500;
    padding: 0.5vw 2.5vw;
    transition: color 0.3s ease, background-color 0.3s ease;
}

/* Hover effect for menu items */
.menu-list a:hover {
    background-color: #e6a237;
    border-radius: 20px;
    color: white;
}

/* Submenu styling */
.menu-list ul ul {
    display: none; /* Hide submenu by default */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #e6a237;
    border-radius: 10px;
    padding: 10px 0;
    z-index: 1000; /* Ensure the submenu appears above other elements */
}

/* Show submenu on hover */
.menu-list ul li:hover > ul {
    display: block;
}

/* Submenu item styling */
.menu-list ul ul li {
    padding: 5px 20px;
    white-space: nowrap;
}

/* Hover effect for submenu items */
.menu-list ul ul li:hover {
    background-color: #09182d;
    color: white;
    border-radius: 10px;
}
    .menu-icon {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      cursor: pointer;
      margin-right: 0;
    }

    .menu-bar {
      width: 40px;
      height: 3px;
      background-color: #09182d;
      margin: 3px 0;
      transition: 0.4s;
    }

    .menu-icon.open .menu-bar:nth-child(1) {
      transform: rotate(-45deg) translate(-7px, 8px);
      background-color: rgb(38, 0, 255);
    }

    .menu-icon.open .menu-bar:nth-child(2) {
      opacity: 0;
    }

    .menu-icon.open .menu-bar:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }

    .additional-content {
      display: none;
      position: fixed;
      width: 100%;
      transition: var(--transition);
      top: var(--header-height);
      left: 0;
      height: 100vh;
      transform: all 0.5s ease;

      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px !important;
      }
    }

    .additional-content.visible {
      display: block !important;
      background-color: white;
      position: fixed;
      overflow-y: auto;
    }

    .menu-overlay {
      padding-top: 5vh;
      height: 600px;
      color: black;
      z-index: 9999;
      display: flex;
      

      .menu-item {
        font-size: 3vw; // Use viewport width for responsiveness
        text-transform: uppercase;
        font-weight: 300;
        transition: all 0.8s ease-in-out;

        &:hover {
          background: -webkit-linear-gradient(#09182d, #3272f6);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 0.3s ease-in-out;
          padding-left: 10px;
         
        }
      }

      .menu-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      isolation: isolate;

      &:before {
        background: -webkit-linear-gradient(#09182d, #3272f6);
        content: "";
        width: 599px;
        height: 600px;
        position: absolute;
        bottom: -120px;
        right: -160px;
        border-radius: 50%;
        filter: blur(80px);
        z-index: 9;

        @keyframes move {
          0% {
            transform: scale(1) translate(10px, -30px);
          }
          38% {
            transform: scale(0.8, 1) translate(5vw, 30vh) rotate(160deg);
          }
          100% {
            transform: scale(1) translate(10px, -90px);
          }
        }

        @media screen and (max-width: 900px) {
          width: 300px;
          height: 300px;
        }
      }
    }

    .white {
      background-color: #ffffff;
    }

    @media screen and (max-width: 1200px) {
      header {
        padding: 1rem 3rem;
      }

      .logo img {
        width: 12vw;
      }

      .menu-item {
        font-size: 2.5vw;
      }
    }

    @media screen and (max-width: 992px) {
      header {
        padding: 1rem 2rem;
        height: auto;

        .logo img {
          width: 150px;
        }
      }

      .menu-item {
        font-size: 2vw;
      }
    }

    @media screen and (max-width: 768px) {
        .logo img {
          width: 20vw;
        }
      .menu-item {
        font-size: 2vw;
      }
     
      .menu-bar {
      width: 35px;
      height: 2.1px;    
      
    }
    }

    @media screen and (max-width: 480px) {
        .logo img {
          width: 28vw;
        }     

      .menu-item {
        font-size: 4vw !important;
        font-weight: 400 !important;
      }
      .menu-bar {
      width: 30px;
      height: 2px;    
      
    }
    }

    @media screen and (max-width: 390px) {
      
      .logo img {
          width: 25vw;
      }
      .menu-item {
        font-size: 1.2vw;
      }
      .menu-overlay{
        padding-top: 0;
      }
      .menu-bar {
      width: 25px;
      height: 1.5px;    
      
    }
    }
  }
</style>



